<div class="col-md-10 container">
  <h2 style="margin: auto"> Product Details</h2>
  <button class="btn btn-primary" style="width:150px" (click)="addProduct()"> Add Product</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Nombre</th>
      <th>Precio C$</th>
      <th>Imagen</th>
      <th>Categorias</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <td class="hidden">{{product.id}}</td>
      <td>{{product.nombre}}</td>
      <td>{{product.precio}}</td>
      <td><img [src]="product.imagen| safe: 'url'" /></td>
      <td>{{product.categorias}}</td>
      <td><button class="btn btn-danger" (click)="deleteProduct(product)"> Delete</button>
        <button class="btn btn-success" (click)="editProduct(product)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>